{% extends "personal/header.html" %}

{% block content %}
<header>
    <h4>Welcome to my profile!</h4>
</header>
<p>
    I am a Mechanical Engineer and Designer with experience in systems engineering, quality control, and photovoltaic design.
    I have been fortunate to have exposure to several industries throughout my internship, capstone projects, and work experience.
    These include healthcare , defense and aerospace, solar energy, and consumer products. As I am seeking a mechanical engineering
    to use my engineering background in a creative capacity is what drives my job search. A graduate of Northeastern University
    role, my interests lie in robotics, aerospace, automotive, and propulsion. However, company fit, environment and the opportunity
    with a BS in Mechanical Engineering, I understand the meaning and importance of hard work. I have strong math and problem
    solving skills with varied experience as a designer, quality engineer, and prototype tester.
</p>

{% endblock %}
