{% extends "personal/header.html" %}

{% block content %}

<header>
    <h4>SolPOD</h4>
</header>
<p>
    The low-cost SolPOD's simple design consisted of an exterior skirt and a drying chamber to
    hold food. Cold air would enter the SolPOD through the bottom of it's skirts and be heated 
    while traveling up them. As the air in the skirts heated up it would create a pressure 
    differential which would pull more cool air in. The hot air would eventually move up into 
    the food storage unit and pass over any food placed inside. The hot air would absorb the 
    up the skirts of the SolPOD eventually passing over the dried food in the top chamber. As 
    the air in the skirt heats up it creates a pressure differential which pulls more cool air in. 
</p>
<figure>
    <center>
        <p>
            <img src="../../static/personal/img/project_1/SolPOD.jpg" style='max-height:200px' alt="SolPOD">
        </p>
    <figurecaption>SolPOD Construction</figurecaption>
        <p>
            <img src="../../static/personal/img/project_1/Crown.jpg" style='max-height:200px' alt="crown">
        </p>
    <figurecaption>SolPOD Crown Construction</figurecaption>
    </center>
</figure>


{% endblock %}