{% extends "personal/header.html" %}

{% block content %}
<header>
  <h4>Jola Venture's Agricultural Project</h4>
</header>

<p>
  <img src="../../static/personal/img/project_1/jola_venture.jpg" class="responsive-img" alt="jola_venture" align="left">
  Jola Venture is a company in Boston, MA. working to bring university derived technologies and innovations to small scale
  farmers to increase food productivity and profitability. The SolPod, their first patent-pending product, is a low cost solar
  food dehydrator that can help these farmers preserve food and address the problem of food spoilage in rural areas of Africa.
  I was the first engineer to develop and design the testing as well as test the SolPod prototype in Cameroon, Africa. It was
  very difficult work due to the limited amount of electricity available, limited unreliable internet access, and the lack
  of readily available supplies even the most basic. It challenged my engineering skills but brought me great satisfaction
  knowing that my work will be used to help a large community of people to better their lives. Making a difference makes me
  a better person and engineer.
</p>

<center>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/Xnr4sxngSfQ?rel=0" frameborder="0" gesture="media" allow="encrypted-media"
    allowfullscreen></iframe>
</center>

{% endblock %}
